.gradle
.PVS-Studio
target/
build/
out/
**/src/main/generated/
/conf/
!gradle/wrapper/gradle-wrapper.jar
/logs/*
/application.yml
*.log

### Worker ###
/jb-worker/application.yml
/jb-worker/logs/*

### Web ###
/jb-web/application.yml
/jb-web/logs/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
