/*
 * This file is part of JuniperBotJ.
 *
 * JuniperBotJ is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * JuniperBotJ is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with JuniperBotJ. If not, see <http://www.gnu.org/licenses/>.
 */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
}

/* SERVER-LIST */

.server-select {
    margin: 20px 0;
}

.server-item-wrapper {
    margin: 10px 0;
}

.server-item-wrapper img.server-item {
    width: 100%;
    border: 4px #FFF solid;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.server-item-wrapper:hover img.server-item {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.server-item-wrapper:hover img.server-item::after {
    opacity: 1;
}

.server-list {
    max-height: 850px;
    overflow: auto;
}

.discord-logo {
    width: 5.5em;
    margin-bottom: -3px;
}

.juniper-background {
    background-color: #f39c12;
}

.not-found-background {
    background-size: cover;
    background: url(../img/hey_background.jpg) no-repeat top center;
}

.forbidden-background {
    background-size: cover;
    background: url(../img/nope_background.jpg) no-repeat top center;
}

.error-background {
    background-size: cover;
    background: url(../img/oops_background.jpg) no-repeat top center;
}

/* NO-SIDEBAR/LANDING STYLES */

body.landing-mode {
    -moz-box-shadow: inset 0 0 250px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 250px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 250px rgba(0,0,0,0.5);
}

body.no-sidebar .content-wrapper,
body.no-sidebar .main-footer {
    margin-left: 0 !important;
}

body.landing-mode .content-wrapper,
body.landing-mode > div.wrapper,
body.landing-mode .main-footer,
body.landing-mode .main-header > .navbar,
body.landing-mode .main-header > a.logo,
body.landing-mode .main-header > a.logo:hover {
    background: none !important;
}

body.landing-mode .main-footer {
    color: white;
    border: 0;
    position: relative;
}

body.landing-mode a {
    color: #ffd187;
}

body.landing-mode a:hover {
    color: white;
}

body.landing-mode h3.shadow,
body.landing-mode h4.shadow {
    -moz-text-shadow: 0 0 20px #000000;
    -webkit-text-shadow: 0 0 20px #000000;
    text-shadow: 0 0 20px #000000;
}

.server-select {
    color: white !important;
}

.text-white {
    color: white;
}

.error-page > .error-content {
    padding-top: 10px !important;
}

.error-page {
    -moz-text-shadow: 0 0 20px #000000;
    -webkit-text-shadow: 0 0 20px #000000;
    text-shadow: 0 0 20px #000000;
}

.form-group.checkbox-group input[type=checkbox] {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    body.landing-mode .main-header > .logo {
        width: 190px;
    }

    body.landing-mode .navbar {
        margin-left: 190px;
    }
}
/* ======================================
            JUMBOTRON
   ====================================== */

.jumbotron {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background: none;
    color: white;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#particles canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jumbotron .jumbo-header,
.jumbotron .lead {
    font-family: "Open sans", Helvetica, Arial !important;
}

.jumbotron .jumbo-header {
    font-size: 44px;
    font-weight: 200;
    margin-top: 60px;
}

.jumbotron .lead {
    font-size: 16px;
}

.jumbotron .btn-default {
    margin: 20px 0;
    border: 0;
    text-shadow: none;
    background: transparent;
    color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
}

.jumbotron .btn-default:hover,
.jumbotron .btn-default:focus {
    color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    background: transparent;
}

.jumbotron .btn-default:active,
.jumbotron .btn-default.active {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 0px 3px #fff;
    background: transparent;
}

.jumbotron .btn-add {
    margin-top: 20px;
    padding: 25px 35px;
}

.jumbotron .discord-logo {
    margin: 0 !important;
}

.jumbotron .juni-icon {
    float: right;
    margin: 0 auto;
    background: url(../img/icon_512.png) no-repeat center center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.jumbotron .feature {
    font-size: 16px;
    font-family: "Open sans", Helvetica, Arial !important;
    font-weight: 200;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
    .jumbotron .juni-icon {
        float: none !important;
        width: 400px;
        height: 400px;
    }

    .jumbotron .jumbo-header {
        margin-top: 20px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .jumbotron .juni-icon {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    .jumbotron .jumbo-header {
        float: none !important;
        margin-top: 10px;
    }

    .jumbotron .lead {
        float: none !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .jumbotron .juni-icon {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .jumbotron .jumbo-header {
        font-size: 34px !important;
    }

    .jumbotron .lead {
        font-size: 14px !important;
    }

    .jumbotron .btn-add {
        margin-top: 15px !important;
        padding: 15px 0;
        width: 100%;
    }

    .user-menu > a > .caret {
        margin-top: -5px;
    }

    .navbar-collapse {
        margin-top: 50px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .jumbotron .jumbo-header {
        font-size: 26px !important;
    }

    .jumbotron .lead {
        font-size: 12px !important;
    }

    .jumbotron .btn-add {
        margin-top: 5px !important;
        padding: 15px 0;
    }

    .widget-header-name {
        width: 115% !important;
    }
}

@media (max-width: 992px) {
    #vk-confirmation-code {
        margin-bottom: 15px;
    }

    .widget-server .callout {
        margin-bottom: 55px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .combo-control {
        padding-top: 55px;
    }

    .play-checkbox {
        margin-top: 15px !important;
    }

    .play-checkbox input[type=checkbox] {
        margin-top: 4px !important;
    }
}

div.discord-header-icon-wrapper {
    display: inline-block;
    width: 12px !important;
}

div.discord-header-icon {
    position: absolute;
    top: 16px;
    left: 12px;
    height: 18px;
    width: 18px;
    background: url(../img/discord-logo-small.svg) no-repeat top center;
}

.submit-group .btn {
    margin: 5px 10px 0 0;
}

.badge-delete {
    border-radius: 15px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 0 0 0;
    cursor: pointer;
}

.hide {
    display: none;
}

.command-checkbox {
    margin-top: 15px;
}

.box-tools.button-xs-group {
    margin-top: 3px;
}

.form-group.no-b-margin {
    margin-bottom: 0 !important;
}

.form-group.no-t-margin {
    margin-top: 0 !important;
}

table.command-table td {
    padding: 0 16px 8px 10px !important;
}

.level-circle {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 65px;
    height: 65px;
    text-align: center;
    border-radius: 50%;
}

.editable-rank .level-circle {
    right: 40px;
}

.level-value {
    font-size: 32pt;
}

.level-desc {
    margin-top: -18px;
}

.progress-level {
    margin-right: 85px;
    margin-top: 20px;
}

.editable-rank .progress-level {
    margin-right: 110px;
}

.widget-server .widget-server-header {
    padding: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-server .widget-server-title {
    font-weight: 300;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.widget-server .widget-server-name {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 40px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-server .widget-server-image {
    position: absolute;
    margin-top: -110px;
    left: 50%;
    margin-left: -55px;
}

.widget-server .widget-server-image > img {
    width: 110px;
    height: auto;
    border: 3px solid #fff;
}

.widget-server .box-footer {
    padding-top: 30px;
}

.widget-server .callout {
    background-color: rgba(0, 0, 0, 0.22) !important;
    border-color: rgba(0, 0, 0, 0.16);
    width: 100%;
}

.no-content-padding {
    padding: 0 0 15px 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .widget-server .widget-server-image {
        margin-top: -95px;
        margin-left: -45px;
    }

    .widget-server .widget-server-image > img {
        width: 90px;
    }

    .progress-level .progress {
        height: 10px !important;
    }

    .level-circle {
        top: 0 !important;
        right: 15px;
        width: 40px;
        height: 40px;
    }

    .editable-rank .level-circle {
        right: 40px;
    }

    .level-value {
        font-size: 21pt;
    }

    .level-desc {
        display: none;
    }

    .progress-level {
        margin-right: 55px;
    }

    .editable-rank .progress-level {
        margin-right: 80px;
    }

    .editable-rank-actions {
        bottom: auto;
        top: 0;
        font-size: 22px !important;
    }

    body.jumbo-headed .widget-server-header-row {
        padding-top: 110px !important;
    }

    body.jumbo-headed .widget-server {
        margin-top: -100px !important;
    }

    .widget-header-name {
        text-align: center;
        width: 110%;
        padding: 5px 0 !important;
    }

    body.landing-mode .navbar-collapse {
        background: rgba(0, 0, 0, 0.7) !important;
    }
}

.widget-user-2.widget-member {
    margin-left: 45px;
}

.widget-user-2.widget-member .widget-user-header {
    padding: 10px !important;
}

.widget-user-2.widget-member .widget-user-username,
.widget-user-2.widget-member .widget-user-desc {
    word-wrap: break-word;
    word-break: break-word;
}

.widget-user-2 a {
    color: #333;
}

.widget-user-2 a:hover {
    color: #555;
    border-bottom: 1px solid #555;
}

.widget-rank {
    top: 10px;
    position: absolute;
}

.editable-rank-actions {
    font-size: 26px;
    bottom: 15px;
    position: absolute;
    right: 10px;
}

.editable-rank-actions .dropdown-toggle {
    box-shadow: none !important;
}

.editable-rank-actions .toggle-icon {
    padding: 10px;
    color: #999;
}

#ranking-container {
    min-height: 50px;
}

.widget-server-container {
    margin-top: 20px;
}

.widget-server-container .overlay > .fa {
    text-shadow: 0 0 5px black;
    color: white;
    top: auto !important;
}

.rewards-menu {
    color: black;
    min-width: 260px;
}

.rewards-menu .table {
    margin: 0;
}

.rewards-menu .table > thead > tr > th {
    padding: 5px 10px;
}

.rewards-menu .table > tbody > tr > td {
    padding: 8px 10px;
}

.level-input {
    min-width: 150px;
}

body.jumbo-headed section.content {
    display: table;
    width: 100%;
}

body.jumbo-headed .widget-server {
    margin-top: -50px;
}

body.jumbo-headed .widget-server-header-row {
    padding: 60px 20px 80px 20px;
    box-shadow: inset 0 -140px 140px -140px rgba(0, 0, 0, 0.67);
}

body.jumbo-headed .main-header {
    box-shadow: inset 0 100px 100px -100px #000;
}

body.jumbo-headed .main-header .logo,
body.jumbo-headed .main-header .logo:hover,
body.jumbo-headed .main-header .navbar {
    background-color: transparent;
}

.widget-header-name {
    margin-bottom: 10px;
    padding: 5px 20px 5px 40px;
    margin-left: -20px;
    background-color: rgba(0, 0, 0, 0.22) !important;
}

.widget-server-background {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position-y: 50%;
}

.widget-bottom-panel {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 50px;
    box-shadow: inset 0 -110px 60px -80px rgba(255, 255, 255, 1);
}

.rest-resource-url {
    margin: 0 0 20px 0;
}

.rest-resource-method {
    margin: 0 5px;
    font-family: "Courier New", Courier, monospace;
}

h1.hyperlink,
h2.hyperlink,
h3.hyperlink,
h4.hyperlink,
h5.hyperlink,
h6.hyperlink {
    display: flex !important;
}

h1.hyperlink > a,
h2.hyperlink > a,
h3.hyperlink > a,
h4.hyperlink > a,
h5.hyperlink > a,
h6.hyperlink > a {
    -ms-flex-item-align: center;
    align-self: center;
    background: url(../img/hyperlink.svg);
    font-size: 22px;
    height: 14px;
    margin-left: 10px;
    visibility: hidden;
    width: 14px
}

h1.hyperlink:hover > a,
h2.hyperlink:hover > a,
h3.hyperlink:hover > a,
h4.hyperlink:hover > a,
h5.hyperlink:hover > a,
h6.hyperlink:hover > a {
    visibility: visible
}

.countryFlag {
    margin: 3px 0 0 5px;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.countryFlag.us { background: url(../img/flag_us.png); }
.countryFlag.uk { background: url(../img/flag_uk.png); }
.countryFlag.ru { background: url(../img/flag_ru.png); }

.language-menu {
    width: 200px !important;
}

.language-menu .language-title {
    color: #737373;
    padding-top: 3px;
}

@media (min-width: 1400px) {
    .col-lg2-6 {
        width: 50%;
        float: left;
    }
}

.col-lg2-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.ranking-pagination > .pagination {
    float: left !important;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.ranking-pagination-user > .pagination {
    float: left !important;
    margin: 0 !important;
}

.ranking-pagination-search {
    float: left !important;
    width: 200px;
    margin: 0 0 10px 5px;
}

.list-group.vk-attachments {
    margin: 0;
}

.list-group.vk-attachments > li.list-group-item > label  {
    margin-top: 5px;
}
.list-group.vk-attachments div.toggle  {
    min-width: 60px;
}

.sharp-icon {
    font-size: 45pt;
    font-weight: bold;
}

.common-stats .info-box-number {
    font-size: 28px;
}

.navbar-toggle {
    float: left !important;
}

@media (max-width: 991px) {
    .navbar-collapse.pull-left+.navbar-custom-menu {
        right: 0px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .widget-compact .widget-user-image {
        display: none;
    }

    .widget-compact .widget-user-username {
        margin-left: 0 !important;
        font-size: 20px !important;
    }

    .widget-compact .widget-user-desc {
        margin-left: 0 !important;
    }
}

.widget-user-image .widget-img {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    float: left;
}

.list-group.list-group-stripped .list-group-item:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.list-group.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}